
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-cog:before { content: '\e801'; } /* '' */
.icon-monitor:before { content: '\e802'; } /* '' */
.icon-link:before { content: '\f07b'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */