.main
    margin-left: 15%
    @include flex(flex, row, wrap, flex-start, flex-start)
    .main__inner
        @include flex(flex, column, wrap, center, flex-start)
        color: $text-color
        min-height: 300px
        &:nth-child(even)            
            padding: 0px 80px
            @media ( max-width: 360px )
                padding: 48px 32px 16px  
        &:nth-child(1)
            background-image: url(../img/img1-audi.jpg)
            background-size: cover
            background-position: center
        &:nth-child(3)
            background-image: url(../img/img2-book.jpg)
            background-size: cover
            background-position: center
        &:nth-child(5)
            background-image: url(../img/img3-hand.jpg)
            background-size: cover
            background-position: center
        h2
            color: $text-color-w
            margin: 0px
            font-size: 30px
        p
            margin: 40px 0px
            font-size: 17px
        
    @media ( max-width: 991px )
        margin-left: 0px
        h2
            font-size: 28px
        p
            font-size: 16px
    @media ( max-width: 768px )
        h2
            font-size: 20px
        p
            font-size: 16px
$base-color: #6264bd
@for $i from 1 through 3
    .main__inner:nth-child(#{$i + $i})
        background-color: darken($base-color, $i * 5%)


     
    


     


   