.wrapper
    height: 100vh
    width: 100%
    margin-left: 15%
    position: fixed
    background-image: url(../img/img4-vector.jpg)
    background-repeat: no-repeat
    background-size: cover
    z-index: -1    
    